*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas:
    "header header header"
    "main-content main-content side-bar"
    "footer footer footer"
    ;
    gap: 1rem;  

}
.nav-header{
    grid-area: header;
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
}
.logo{
    flex:1
}
.logo img{
    width: 64px;
}
.nav-bar{
    background-color: yellow;
    flex: 2;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.main-content{
    grid-area: main-content;
    background-color: red;
    margin-left: 1rem;
}
.side-bar{
    grid-area: side-bar;
    background-color: yellow;
    margin-right: 1rem;
}
.footer{
    grid-area: footer;
    background-color: aqua;
}